$title-font: 'Orbitron', sans-serif; 
$sub-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

$main-color: rgb(8, 8, 8); 
$secondary-color: rgb(139, 0, 0);

.center {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

body {
    color: white; 
    font-size: 1em; 
    background-color: $main-color; 
    overflow-x: hidden !important; 
} 

#button {
    position: relative; 
    width: 175px; 
    height: 60px; 
    color: $secondary-color; 
    background-color: white;
    border: none;  
    border-radius: 2px; 
    font-family: $sub-text; 
    font-weight: 500; 
    font-size: 1em; 
    cursor: pointer; 
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    outline: none; 
    z-index: 50; 

    &:hover {
      color: white;
    }

    &:hover::before {
        left: 0%;
        right: auto;
        width: 100%;
        }

    &::before {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        border-radius: 2px; 
        background: $secondary-color; 
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
}

.page-container {
    width: 100%; 
    height: auto; 
    text-align: center;
    
    .main-top-page {
        width: 100%; 
        height: 100vh;  
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        .main-top-content {
            width: 100%; 
            height: 65%; 
            @extend .center; 
            justify-content: space-between;
            flex-direction: column; 
            padding-top: 125px; 

            .main-top-mid-div {
                width: 40%; 
                height: auto; 
                @extend .center; 
                flex-direction: column; 

                h2 {
                    font-family: $title-font; 
                    font-size: 2.25em; 
                }
            }

            .main-top-bottom-div {
                width: 80%; 
                height: auto; 
                @extend .center; 
                justify-content: space-between;

                div {
                    display: inline; 
                    width: auto; 
                    height: auto; 

                    h4 {
                        font-family: $sub-text; 
                        // font-family: $title-font; 
                        font-weight: 400; 
                        font-size: 0.85em; 
                        margin: 0px; 
                        margin-bottom: 5px; 
                    }

                    h3 { 
                        font-family: $title-font;
                        font-weight: 600; 
                        font-size: 1.25em; 
                        margin: 0px; 
                    }
                }
            } 
        }   
    }

    .main-mid-page {
        width: 100%; 
        height: 100vh; 
        background-color: $main-color;  
        @extend .center; 
        flex-direction: column; 

        .main-mid-car-container {
            position: relative; 
            width: 100%; 
            // height: 300px; 
            // height: 100vh; 
            margin: 10px 0px; 
            @extend .center; 
            flex-direction: column; 
            justify-content: flex-end; 

            .car-img {
                width: 100%; 
                height: auto; 
                @extend .center; 

                #img-1 {
                    position: absolute; 
                    top: 0; 
                    left: 2%; 
                    width: 85%; 
                    height: 100%; 
                    -o-object-fit: cover; 
                    object-fit: cover; 
                    z-index: 3; 
                } 

                #img-2 {
                    position: absolute; 
                    top: 0; 
                    left: -5%; 
                    width: 50%; 
                    height: 100%; 
                    -o-object-fit: cover; 
                    object-fit: cover; 
                    z-index: 2; 
                } 

                #img-3 {
                    position: absolute; 
                    top: 0; 
                    right: -23%; 
                    width: 100%; 
                    height: 100%; 
                    -o-object-fit: cover; 
                    object-fit: cover; 
                    z-index: 3; 
                }
            } 

            .car-button-container {
                position: relative; 
                left: 0; 
                right: 0; 

                .cars-button { 
                    position: relative; 
                    width: 175px; 
                    height: 60px; 
                    color: white; 
                    background-color: rgba(0, 0, 0, 0);
                    border: 2px solid white;  
                    border-radius: 2px; 
                    font-family: $sub-text; 
                    font-weight: 500; 
                    font-size: 1em; 
                    cursor: pointer; 
                    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
                    outline: none; 
                    z-index: 50; 

                    &:hover {
                        color: $main-color; 
                    }

                    &:hover::before {
                        left: 0%;
                        right: auto;
                        width: 100%;
                        }

                    &::before {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 100%;
                        width: 0px;
                        z-index: -1;
                        content: '';
                        border-radius: 2px; 
                        background: white; 
                        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
                    }
                }
            }            

            .car-info {
                position: absolute; 
                bottom: 5%; 
                width: 100%; 
                height: auto; 

                h2 {
                    font-family: 'Times New Roman', Times, serif; 
                    font-weight: 600; 
                    margin: 0px; 
                }

                p {
                    font-family: $sub-text; 
                    font-weight: 400; 
                    font-size: 0.85em; 
                    margin: 0px; 
                }
            }
        }
    }

    .main-bottom-page {
        width: 100%; 
        height: auto; 
        background-color: $main-color; 
        @extend .center; 
        flex-direction: column; 
        padding: 100px 0px; 

        h1 {
            width: 85%; 
            font-family: $title-font; 
            font-weight: 600; 
            text-align: left; 
            margin: 0px; 
        }

        .main-bottom-carousel {
            width: 95%; 
            display: flex; 
            justify-items: center;

            &::-webkit-scrollbar {
                width: 200px;
                height: 7px;
                cursor: pointer; 
            }

            &::-webkit-scrollbar-thumb {
                background: white;
                border-radius: 10px;

                &:hover {
                    background-color: rgb(225, 225, 225); 
                }
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px rgb(80, 80, 80);
            }

            .main-bottom-carousel-div-content {
                width: auto; 
                height: 300px; 
                white-space: nowrap;
                padding: 40px; 
                margin: 40px 0px; 
                border-right: 1px solid rgba(255, 255, 255, 0.2); 
                @extend .center; 
                flex-direction: column; 
                justify-content: space-evenly; 
                overflow: visible; ;

                .main-carousel-img {
                    height: 50%; 

                    img {
                        width: auto; 
                        height: 100%; 
                    }
                }

                .main-carousel-info { 
                    white-space: pre-wrap !important;
                    font-family: $sub-text;  
                    font-weight: 300; 
                    text-align: left; 
                } 

                .button-container {
                    height: 25%; 

                    .news-button {
                        background-color: rgba(0, 0, 0, 0) !important; 
                        color: white !important; 
                        border: 2px solid white !important; 

                        &:hover {
                            color: black !important; 
                        }

                        &::before {
                            background: white !important; 
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .page-container .main-mid-page .main-mid-car-container .car-img {
        height: 70vh; 
    } 

    .page-container .main-mid-page .main-mid-car-container .car-img #img-1 {
        left: unset; 
        right: unset; 
        width: 100%; 
    } 

    .page-container .main-mid-page .main-mid-car-container .car-img #img-2 {
        left: -10%; 
        right: unset; 
        top: -10%; 
        width: 100%; 
    } 

    .page-container .main-mid-page .main-mid-car-container .car-img #img-3 {
        left: unset; 
        right: -10%; 
        top: 15%; 
        width: 100%; 
    } 

    .page-container .main-bottom-page .main-bottom-carousel .main-bottom-carousel-div-content {
        padding: 0px; 
        padding-bottom: 25px; 
        overflow: hidden; 
    } 

    .page-container .main-bottom-page .main-bottom-carousel .main-bottom-carousel-div-content .main-carousel-info {
        text-align: center; 
        width: 90%; 
    } 

    .page-container .main-bottom-page .main-bottom-carousel .main-bottom-carousel-div-content .main-carousel-img {
        width: 90%; 
        overflow: hidden; 
    }
}

//measures 
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .page-container .main-mid-page .main-mid-car-container {
        height: 425px; 
        margin: 0px; 
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .page-container .main-mid-page .main-mid-car-container {
        height: 500px; 
        margin: 0px; 
    }
}

@media only screen and (min-width: 1440px) {
    .page-container .main-top-page .main-top-content .main-top-bottom-div {
        width: 75%; 
    } 

    .page-container .main-bottom-page h1 {
        width: 80%; 
    } 

    .page-container .main-bottom-page .main-bottom-carousel {
        width: 85%; 
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .page-container .main-mid-page .main-mid-car-container {
        height: 550px; 
        margin: 0px; 
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1900px) {
    .page-container .main-mid-page .main-mid-car-container {
        height: 650px; 
        margin: 0px; 
    }
}

@media only screen and (min-width: 1900px) {
    .page-container .main-mid-page .main-mid-car-container {
        height: 700px; 
        margin: 0px; 
    }
}

@media only screen and (min-width: 1500px) {
    .page-container .main-bottom-page .main-bottom-carousel .main-bottom-carousel-div-content .main-carousel-img img {
        // width: 300px; 
        height: 175px; 
    }

    .page-container .main-bottom-page .main-bottom-carousel .main-bottom-carousel-div-content .main-carousel-info {
        font-size: 1.55em; 
    }

    .page-container .main-bottom-page h1 {
        font-size: 3em !important; 
    }

    .page-container .main-bottom-page .main-bottom-carousel {
        width: 70%; 
    }
}

@media only screen and (min-width: 1700px) {
    .page-container .main-bottom-nav .main-bottom-nav-grid-display {
        width: 70%; 
    }

    .page-container .main-bottom-nav .main-bottom-nav-grid-display .main-bottom-nav-content {
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    .page-container .main-bottom-nav .main-bottom-nav-grid-display {
        width: 45%; 
    } 

    .page-container .main-top-page .main-top-content .main-top-bottom-div {
        width: 40%; 
    } 

    .page-container .main-bottom-page h1 {
        width: 60%; 
    }
} 


//fonts 
@media only screen and (min-width: 1024px) {
    .page-container .main-top-page .main-top-content .main-top-mid-div h2 {
        font-size: 3.5em; 
    }

    .page-container .main-top-page .main-top-content .main-top-mid-div button {
        width: 200px; 
        height: 70px; 
    }

    .page-container .main-top-page .main-top-content .main-top-bottom-div div h4 {
        font-size: 1.15em; 
    }

    .page-container .main-top-page .main-top-content .main-top-bottom-div div h3 {
        font-size: 2.5em; 
    }

    .page-container .main-mid-page .main-mid-car-container .car-info h2 {
        font-size: 2.25em; 
    }

    .page-container .main-mid-page .main-mid-car-container .car-info p {
        font-size: 1.15em;
    }

    .page-container .main-bottom-nav .main-bottom-nav-grid-display .main-bottom-nav-content h3 {
        font-size: 1.35em; 
    }

    .page-container .main-bottom-nav .main-bottom-nav-grid-display .main-bottom-nav-content ul span {
        font-size: 1.1em; 
    }

    .page-container .main-bottom-nav #main-terms {
        font-size: 1em; 
    }
}

//webkit 
@media only screen and (min-width: 1024px) and (max-width: 1500px) {
    .page-container .main-bottom-page .main-bottom-carousel::-webkit-scrollbar {
        height: 15px;
    }
}

@media only screen and (min-width: 1500px) {
    .page-container .main-bottom-page .main-bottom-carousel::-webkit-scrollbar {
        height: 25px;
    }
}

.ehkxHv {
    background-color: rgb(20, 20, 20) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 2px !important;
    border: 1px rgba(255, 255, 255, 0.2) solid !important;

    &:hover {
        background-color: rgb(20, 20, 20) !important;
        color: rgba(255, 255, 255, 0.8) !important;
        border-radius: 2px !important;
        border: 1px rgba(255, 255, 255, 0.2) solid !important;
    }

    &:focus {
        background-color: rgb(20, 20, 20) !important;
        color: rgba(255, 255, 255, 0.8) !important;
        border-radius: 2px !important;
        border: 1px rgba(255, 255, 255, 0.2) solid !important; 
    }
}

.cGKbZh {
    background-color: rgb(20, 20, 20) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 2px !important;
    border: 1px rgba(255, 255, 255, 0.2) solid !important;

    &:hover {
        background-color: rgb(5, 5, 5) !important;
        color: rgba(255, 255, 255, 1) !important;
        border-radius: 2px !important;
        border: 1px rgba(255, 255, 255, 0.2) solid !important;
    }

    &:focus {
        background-color: rgb(20, 20, 20) !important;
        color: rgba(255, 255, 255, 0.8) !important;
        border-radius: 2px !important;
        border: 1px rgba(255, 255, 255, 0.2) solid !important;
    }
}

.kMthTr {
    display: none !important; 
}

.xzcEF {
    display: none !important; 
} 

.fzCwXm {
    background-color: rgb(20, 20, 20) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 2px !important;
    border: 1px rgba(255, 255, 255, 0.2) solid !important;

    &:hover {
        background-color: rgb(5, 5, 5) !important; 
        color: rgba(255, 255, 255, 1) !important; 
        border-radius: 2px !important; 
        border: 1px rgba(255, 255, 255, 0.2) solid !important; 
    }

    &:focus {
        background-color: rgb(20, 20, 20) !important; 
        color: rgba(255, 255, 255, 0.8) !important; 
        border-radius: 2px !important; 
        border: 1px rgba(255, 255, 255, 0.2) solid !important; 
    }
}
